@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}
@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DeogonPrincess";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/DeogonPrincess.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KIMM_Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UhBeeRice";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeRice.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "양진체";
  src: url("https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ChosunGu";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* 화면 너비 초과 방지 */
}
.slick-dots {
  background-color: black;
}

.main-video {
  background-color: black;
}

.main-Information {
  background-color: black;
  color: white;
  margin-bottom: 10px;
}
.menu-name {
  padding-top: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "NanumBarunGothic";
  color: rgb(242, 216, 201);
}

.menu-Description {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-family: "SBAggroB";
  font-weight: 900;
  color: white;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slice-slice {
  margin-top: 5%;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 100px;
}

.name {
  font-size: 20px;
  font-family: "DeogonPrincess";
}

.food-name {
  font-size: 35px;
  font-family: "DeogonPrincess";
  color: rgb(242, 216, 201);
}

.gram {
  font-family: "DeogonPrincess";
}

.main-one {
  background-color: black;
}

.bfImg {
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
  margin-top: 20%;
  font-family: "DeogonPrincess";
}

.con1 {
  color: mistyrose;
  /* color: white; */
  font-size: 100px;
}

.con2 {
  color: white;
  font-weight: bold;
  font-size: 140px;
  letter-spacing: 0.1em;
}

.main-system {
  background-color: black;
  width: 100%;
  height: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt1 {
  font-family: "NanumBarunGothic";
  color: white;
  display: flex;
  flex-direction: column; /*텍스트 행으로 정렬*/
  align-items: center; /*텍스트 가운데 정렬*/
  line-height: 1.5;
  padding-top: 10px;
  top: 1500px;
  left: 350px;
}

.txt2 {
  color: mistyrose;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.1em; /*글자 간 간격*/
}

.txt3 {
  font-size: 70px;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.system-page {
  display: flex;
  flex-direction: row;
}

.system-left {
  width: 50%;
  height: 1000px;
  display: flex;
  flex-direction: column;
}
.conan {
  display: flex;
  padding: 5%;
  justify-content: center;
  width: 90%;
  border-radius: 5%;
  height: 40%;
}

.be-box {
  display: flex;
  width: 90%;
  justify-content: center;
  margin-left: 35px;
  border: 1px solid red;
  background-color: white;
  flex-direction: column;
  height: 40%;
  border-radius: 5%;
}
.be {
  display: flex;
  width: 40px;
  height: 40px;
}
.comf-box {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  border: 1px solid red;
  background-color: white;
  border-radius: 5%;
  height: 40%;
}
.comf {
  display: flex;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  margin-left: 20px;
}
.com {
  text-align: center;
  font-size: 20px;
}
.com1 {
  margin-bottom: 10px;
  font-size: 40px;
  font-family: "SBAggroB";
  color: rgb(140, 39, 3);
}
.bbp-box {
  display: flex;
  width: 90%;
  justify-content: center;
  border: 1px solid red;
  background-color: white;
  flex-direction: column;
  height: 40%;
  margin-top: 50px;
  border-radius: 5%;
}

.system-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 1000px;
}

.main-money1 {
  width: 100%;
  height: 1000px;
  background-image: url("../assets/images/Money.png");
  text-align: center;
}
.money-text1 {
  padding-top: 100px;
  color: red;
  font-size: 30px;
  font-family: "ChosunGu";
}
.money-text2 {
  padding-top: 30px;
  font-size: 50px;
  font-family: "양진체";
  font-weight: 800;
}

.td2 {
  background-color: white;
  width: 410px;
  height: 72px;
}
.td3 {
  background-color: rgb(238, 238, 238);
  width: 410px;
  height: 72px;
}
.td-td4 {
  color: rgb(242, 216, 201);
  background-color: black;
  width: 410px;
  height: 72px;
}
.th-1 {
  background-color: rgb(242, 92, 5);
}
.main-startups {
  width: 100%;
}
.startups {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 38px;
  font-family: "SBAggroB";
}
.startups-name {
  margin-left: 10px;
  color: red;
}
.startups-information {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(146, 146, 146);
  font-size: 20px;
  margin-bottom: 30px;
}
.startups-table {
  text-align: center;
  margin: 20px;
}

table {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: white;
  color: black;
}

th {
  background-color: rgb(229, 0, 18);
  height: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: "KIMM_Bold";
}

td {
  text-align: center;
  vertical-align: middle;
  font-family: "GowunDodum-Regular";
}
td[colspan="1"] {
  padding-left: 20px;
  text-align: left;
  width: 600px;
  height: 50px;
  background-color: rgb(243, 243, 243);
  font-family: "GowunDodum-Regular";
}

td[colspan="4"] {
  text-align: center;
  font-family: "GowunDodum-Regular";
}
.td-td {
  height: 40px;
  color: white;
  background-color: black;
  font-family: "KIMM_Bold";
}
.td-td2 {
  background-color: black;
  color: white;
  font-family: "KIMM_Bold";
}

.Inquiry {
  background-image: url("../assets/images/Inquiry.png");
  width: 100%;
  height: 1000px;
  background-color: rgba(13, 13, 13, 0.7);
}

.startups-discount {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.startups-discount:hover {
  background-color: yellow;
}

.discount-text1 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  font-family: "yg-jalnan";
}

.discount-text2 {
  width: 100%;
  margin-top: 20px;
  font-size: 60px;
  font-family: "UhBeeRice";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.discount {
  margin-left: 10px;
  margin-right: 10px;
  color: red;
}
.Inquiry-text {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 48px;
  height: 200px;
  align-items: center;
  font-family: "SBAggroB";
}

.Inquiry-text2 {
  color: white;
  display: flex;

  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.form-containor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Inquiry-form {
  justify-content: center;
  margin-top: 40px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 880px;
  height: 550px;
  background-color: white;
  border-radius: 5%;
  line-height: 50px;
}
.form-text {
  color: red;
  font-size: 20px;
  margin-right: 10px;
  font-family: "LINESeedKR-Bd";
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-name {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  input {
    width: 500px;
    height: 30px;
    margin-left: 80px;
    border: 1px solid #ffff;
    box-shadow: 2px 3px 5px 0px gray;
    border-radius: 8px;
  }
}
.form-tel {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  input {
    width: 145px;
    height: 30px;
    border: 1px solid #ffff;
    box-shadow: 2px 3px 5px 0px gray;
    border-radius: 8px;
  }
}
.tel-form {
  display: flex;
  margin-left: 60px;
}
.var {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}
.form-gps {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  input {
    width: 500px;
    margin-left: 5px;
    height: 30px;
    border: 1px solid #ffff;
    box-shadow: 2px 3px 5px 0px gray;
    border-radius: 8px;
  }
}

.form-inquiry {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  input {
    width: 500px;
    height: 30px;
    margin-left: 40px;
    border: 1px solid #ffff;
    box-shadow: 2px 3px 5px 0px gray;
    border-radius: 8px;
  }
}

.form-choice {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  input {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 40px;
    width: 25px;
    height: 50px;
  }
}
.form-checkbox {
  margin-bottom: 10px;
  input {
    cursor: pointer;
  }
}
.form-button {
  button {
    width: 100%;
    height: 50px;
    font-family: "NPSfontBold";
    color: white;
    background: red;
    border-radius: 5px;
    border: 1px solid red;
    cursor: pointer;
  }
}
.form-button:hover {
  button {
    background-color: #ee4e4e;
  }
}

.main-store {
  background-color: white;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.site {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  font-size: 50px;
  position: absolute;
  left: 35%;
  top: 2700px;
}

.si {
  font-family: "NanumBarunGothic";
  display: flex;
  color: black;
}

.o {
  color: white;
}

.sii {
  font-family: "NanumBarunGothic";
  color: red;
  display: flex;
}

.ar {
  font-family: "NanumBarunGothic";
  color: gray;
  position: absolute;
  font-size: 20px;
  left: 36.5%;
  top: 2780px;
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid red;
  border-radius: 30px;
  background-color: white;
  color: red;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: absolute;
  left: 590px;
  top: 2840px;
  text-decoration: none;
}

.new {
  font-family: "NanumBarunGothic";
  display: flex;
  justify-content: center;
  padding: 0px 150px 20px;
  color: white;
  border: 2px solid red;
  border-radius: 20px;
  background-color: red;
  height: 30px;
  font-size: 30px;
  position: absolute;
  left: 150px;
  top: 3000px;
  padding-top: 10px;
}

.custom-table {
  position: absolute;
  left: 95px;
  top: 3100px;
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
  background-color: white;
  text-align: center;
}

.custom-table th,
.custom-table td {
  border: 1px solid #9e9e9e;
  color: black;
  padding: 8px;
}

.custom-table th {
  background-color: #dedede;
  font-weight: bold;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tr:hover {
  background-color: #ff2a2a;
}

.map {
  position: absolute;
  left: 810px;
  top: 3000px;
  width: 27%;
  margin-left: 70px;
}
