@font-face {
  font-family: "kdg_Medium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.Footer-wrraper {
  display: flex;
  width: 100%;
  height: 260px;
  background-color: black;
  flex-direction: column;
  align-items: center;
}
.Footer-name {
  width: 80%;
  font-size: 40px;
  color: white;
  font-family: "kdg_Medium";
}

.hr {
  width: 80%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.Footer-ex {
  width: 80%;
  font-size: 25px;
  color: white;
}
